:root {
  --text-white-semi-transparent: #ffffffab;
  --bg-white-semi-transparent: #ffffff60;
}

/*Differentiating between bootstrap css and my rules with custom prefix*/
/*Set font to Roboto*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
.custom-user-count {
  font-family: 'Roboto', sans-serif;
}

.custom-blue-chart-card {
  background-color: #468df1;
  border-radius: 0.2rem;
  box-shadow: 0rem 0.05rem 0.15rem #00000073;
}
.custom-page-views-text {
  font-size: 0.9rem;
  color: var(--text-white-semi-transparent) !important;
}

.custom-user-count {
  font-size: 3.2rem;
  font-weight: lighter !important;
}

.custom-bg-transparent-white {
  background-color: var(--bg-white-semi-transparent) !important;
}

.custom-table-header {
  border-top: none !important;
}

th {
  font-size: 0.7rem;
}

td {
  border-color: var(--bg-white-semi-transparent) !important;
  font-size: 0.75rem;
}
.custom-text-semi-white {
  color: var(--text-white-semi-transparent) !important;
}

.custom-realtime-report {
  margin-top: -0.7rem !important;
  font-size: 0.8rem;
}
