code {
  font-family: 'fira-mono', 'PT Sans Mono', 'Monaco', 'Iconsolas',
    'Droid Sans Mono', monospace;
  font-size: inherit;
  color: inherit;
  font-weight: 500;
}

.card-title {
  font-weight: 100;
}
