:root {
  --text-white-semi-transparent: #ffffffab;
  --bg-white-semi-transparent: #ffffff60;
}

#mockup {
  width: 332px;
  height: 516px;
  background-image: url('../mockup.png');

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}

.card {
  width: 320px;
  height: 500px;

  color: var(--text-white-semi-transparent);
  font-family: 'Roboto', sans-serif;
  background-color: #468df1;

  border-radius: 0.1rem;
  box-shadow: 0rem 0.05rem 0.15rem #00000073;

  margin: 8px 7px;
  padding: 1.4rem 1.4rem;
}

.card h2 {
  font-weight: normal;
  font-size: 0.88rem;
}

.users-count {
  margin-top: 0.64rem;
  margin-left: 0.06rem;
  font-weight: normal;
  font-size: 3rem;
}

.graph img {
  width: 100%;
  height: auto;
  margin: 0.2rem auto 1.4rem -0.1rem;
}

.graph p {
  margin: 1.65rem auto 0.2rem auto;
  font-size: 0.74rem;
}

table {
  line-height: 1.75rem;
  margin-top: -0.5rem;
  width: 16.7rem;
}

th {
  font-size: 0.71rem;
}
td {
  padding-left: 0.3rem;
  font-size: 0.82rem;
}

table .users-column {
  text-align: end;
}

footer {
  margin-top: 1.6rem;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.6rem;
}

footer hr {
  margin: auto -1.4rem auto -1.4rem;
}

footer p {
  padding-right: 0.5rem;
  font-size: 0.84rem;
}

footer .next-icon {
  scale: 0.85;
  margin-right: 0;
  margin-left: 0;
}
